body{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
} 

body {
    font-family: "Georgia", serif;
    background:
    linear-gradient(180deg, #a0e7e5 0%, #82c3c1 100%);
    color: #333;
    line-height: 1.6;
    padding: 0;
    text-align: center;
}

main {
    padding: 20px;
}
.content {
    margin-bottom: 40px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

input:focus {
    background-color: rgb(201, 184, 240);
}

footer {
    background-color: #3a8d8e;
    color: white;
    padding: 20px;
    font-size: 1.1em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

header {
    background-color: #3a8d8e;
    color: #fff;
    padding: 40px 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

header h1 {
    font-size: 3em;
    font-weight: bold;
}

.banner {
    position: auto;
    top: 0;
    left: 0;
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
}

.container {
    margin: 100px 0 0 200px;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.container img {
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    transition: all ease-in-out 0.5s;
}

.container img:hover {
    width: 25%;
    
}
